body {
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
  
  html, body{
    width:100%;
    height:100%;
    margin:0px;
  }

  header {
   text-align: center;
  text-shadow: 0.125em 0.25em 0.125em #707070;
  color: white;

  }


.buttons  {
  text-align: center;
  
  border-radius:15px;
  margin-bottom: 3rem;
}
