body {
    font-family: "Roboto", sans-serif;
  }
  
  
  header {
  background-image: url("../../images/post-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  text-align: center;
  text-shadow: 0.125em 0.25em 0.125em #707070;
  padding: 8.25rem 3.125rem;
  width: max-content;
  }


