// Color Scheme
// First Color Scheme
$white: #FFF;
$platinum: #E6E7E7;
$gray: #D1D1D1;

// Second Color Scheme
$carmine-pink: #E56353;
$salmon: #D76C69;
$spanish-pink: #ECBCBA;

//Third Color Scheme
$black-olive: #121619;
$granite-gray: #222323;
$old-silver: #6C6E70;

//Font Family
$playfair: 'Roboto', serif;

// Font Weight
$regular: 400;
$light: 300;

// Font Sizes
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

// Buttons Sizes
$mediumbutton: 20px;
$smallbutton: 10px;


// Logo
$logoheight: 20%;

// Margen
$margen: 20vw



