/* Header Layout */
  .header {
    background-image: url('../images/post-image.jpg');
  height: 80vh;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  }

.logo__image {
    height: $logoheight;
    width: $logoheight;
  
    }
    
    
    .header__image {
        height: auto;
        width: 100%;
      
        }

        .header__title {
            margin: 0em;
          
            }