.entrevista-section__imagen {
    width:220px;
    height:220px;
    border-radius:150px;
}

.row  {
    
    vertical-align: middle;
}

.entrevista-section__text-fontplayfair {
    margin-bottom: 5rem;
    color: #D76C69;
    
}


.entrevista-section__text {
    
    color: #030303;
    
}